@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media print, screen and (min-width: 375px) {
  html {
    font-size: calc((1rem + ((1vw - 3.75px) * 0.8163)) / 1.6);
  }
}
@media print, screen and (min-width: 768px) {
  html {
    font-size: calc((1rem + ((1vw - 16px) * 0.5495)) / 1.6);
  }
}
@media print, screen and (min-width: 1600px) {
  html {
    font-size: 1px;
  }
} */
