@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-dot {
    background-image: repeating-linear-gradient(
        0deg,
        rgba(242, 242, 242, 0.25) 0px 1px,
        transparent 1px 2px
      ),
      repeating-linear-gradient(90deg, rgba(242, 242, 242, 0.25) 0px 1px, transparent 1px 2px);
  }
}

/* @media print, screen and (min-width: 375px) {
  html {
    font-size: calc((1rem + ((1vw - 3.75px) * 0.8163)) / 1.6);
  }
}
@media print, screen and (min-width: 768px) {
  html {
    font-size: calc((1rem + ((1vw - 16px) * 0.5495)) / 1.6);
  }
}
@media print, screen and (min-width: 1600px) {
  html {
    font-size: 1px;
  }
} */
